<%- include("../layouts/userHeader.ejs") -%>
<%- include("../layouts/userNavbar.ejs") -%>
<main class="main">
    <section class="pt-150 pb-150">
        <div class="container" style="width: 40%;">
           
                <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3 class="mb-30">Login</h3>
                        </div>
                       
                        <form action="/login" method="post">
                            <div class="form-group">
                                <input type="text" required="" name="email" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <input required="" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="login_footer form-group">
                               
                                <a class="text-muted" href="#">Forgot password?</a>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
         
            <div class="col-lg-6">
                <% if(typeof message !== 'undefined') {
                    %>
                        <p style="color: red;"><%=message %></p>
                    <%
                }
                %>
</div>
        </div>
    </section>
</main>

<%- include("../layouts/userFooter.ejs") -%>